{% extends 'base.html.twig' %}

{% block title 'Tous nos bien'%}

{% block body %}

    <div class="container">
      <h1> Voir tous nos biens</h1>
        <p> Biens 1 que c'est jolie, etc...</p>
    </div>


{% endblock %}